* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

path {
  transition: fill 0.5s linear;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
}

@keyframes slide {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.header {
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}
.header__container {
  display: flex;
  padding: 0px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(186, 187, 197);
}
@media (max-width: 1024px) {
  .header__container {
    max-width: 984px;
  }
}
@media (max-width: 767px) {
  .header__container {
    border: none;
  }
}
.header__logo-wrapper {
  width: 184px;
  height: 25.7px;
  flex-shrink: 0;
}
@media (max-width: 1024px) {
  .header__logo-wrapper {
    width: 180px;
    height: 25.5px;
  }
}
.header__logo {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.header__burger-wrapper {
  width: 55px;
  height: 56px;
  cursor: pointer;
  position: relative;
  align-items: center;
  justify-content: center;
  display: none;
}
@media (max-width: 767px) {
  .header__burger-wrapper {
    display: flex;
  }
}
@media (max-width: 767px) {
  .header__menu {
    position: absolute;
    display: none;
  }
}
.header__menu-items {
  display: flex;
  list-style: none;
  text-transform: uppercase;
}
.header__menu-item {
  text-decoration: none;
  min-width: 134px;
  padding: 36px 0;
  display: block;
  text-align: center;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
  position: relative;
  animation: slide 1s linear;
}
@media (max-width: 1024px) {
  .header__menu-item {
    font-size: 12px;
  }
}
@media (max-width: 850px) {
  .header__menu-item {
    min-width: 110px;
  }
}
.header__menu-item:hover::before {
  display: inline-block;
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 3px solid rgb(186, 187, 197);
  top: 100%;
  right: 0%;
  transform: translateY(-2px);
  animation: slide 1s linear;
}
.header__menu-item:active {
  color: #E71414;
}
.header__menu-item:active::before {
  display: inline-block;
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 3px solid #E71414;
  top: 100%;
  right: 0%;
}

.main {
  background-image: url(/src/image/main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-bottom: 120px;
  padding-top: 230px;
  margin-bottom: 116px;
  text-align: center;
}
@media (max-width: 1440px) {
  .main {
    margin-bottom: 78px;
    padding-bottom: 126px;
  }
}
@media (max-width: 767px) {
  .main {
    margin-bottom: 40px;
    padding-top: 106px;
    padding-bottom: 52px;
  }
}
.main::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #252B49;
  opacity: 0.8;
  position: absolute;
  left: 0;
  top: 0;
}
.main__title {
  font-family: "Raleway";
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  font-size: 64px;
  margin-bottom: 31px;
  font-size: 64px;
  color: #FFFFFF;
}
@media (max-width: 1440px) {
  .main__title {
    margin-bottom: 61px;
    font-size: 48px;
  }
}
@media (max-width: 767px) {
  .main__title {
    margin-bottom: 32.71px;
    font-size: 36px;
  }
}
.main__subtitle {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #6C7279;
  margin-bottom: 80px;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .main__subtitle {
    font-size: 14px;
  }
}
@media (max-width: 1440px) {
  .main__subtitle {
    margin-bottom: 89.14px;
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .main__subtitle {
    margin-bottom: 49.29px;
    font-size: 14px;
  }
}
.main__btn {
  padding: 24px 0;
  max-width: 370px;
  width: 100%;
  background: #FF4343;
  border: none;
  font-family: "Raleway";
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  border: none;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s linear;
}
@media (max-width: 1024px) {
  .main__btn {
    padding: 28px 0;
    max-width: 314px;
  }
}
@media (max-width: 767px) {
  .main__btn {
    max-width: 280px;
    padding: 18px 0;
    background: #FF4343;
    font-size: 24px;
    color: #FFFFFF;
  }
}
@media (max-width: 767px) {
  .main__btn {
    max-width: 280px;
    padding: 18px 0;
    background: #FF4343;
    font-size: 24px;
    color: #FFFFFF;
  }
}
.main__btn:hover {
  background: #E71414;
  box-shadow: 4px 4px 30px rgba(255, 67, 67, 0.5);
}
.main__btn:active {
  background: #FF4343;
  box-shadow: 4px 4px 30px #FF4343;
}

.benefits {
  margin-bottom: 116px;
  text-align: center;
}
@media (max-width: 1024px) {
  .benefits {
    margin-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .benefits {
    margin-bottom: 34.85px;
  }
}
.benefits__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 87.57px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 1024px) {
  .benefits__container {
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 50px;
  }
}
@media (max-width: 767px) and (max-width: 767px) {
  .benefits__container {
    grid-template-columns: 1fr;
  }
}
.benefits__items:not(:last-child) {
  margin-bottom: 88.57px;
}
@media (max-width: 1024) {
  .benefits__items:not(:last-child) {
    margin-bottom: 49px;
  }
}
.benefits__icon-wrap {
  width: 100px;
  height: 100px;
  margin-bottom: 51px;
  margin: 0 auto 51px auto;
}
@media (max-width: 1024px) {
  .benefits__icon-wrap {
    width: 85px;
    height: 85px;
    margin-bottom: 26.27px;
  }
}
@media (max-width: 767px) {
  .benefits__icon-wrap {
    width: 85px;
    height: 85px;
    margin-bottom: 30px;
  }
}
.benefits__icon {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.benefits__title {
  font-family: "Raleway";
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 49px;
  font-size: 24px;
  line-height: 28px;
  color: #2D3033;
}
@media (max-width: 1024px) {
  .benefits__title {
    font-size: 18px;
    margin-bottom: 16.2px;
  }
}
@media (max-width: 767px) {
  .benefits__title {
    font-size: 18px;
    margin-bottom: 16.2px;
  }
}
.benefits__item-subtitle {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #6C7279;
}
@media (max-width: 1024px) {
  .benefits__item-subtitle {
    font-size: 14px;
  }
}

.projects {
  margin-bottom: 114px;
}
.projects__items {
  display: grid;
  gap: none;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 767px) {
  .projects__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
.projects__item-wrapper {
  aspect-ratio: 1/0.8;
  position: relative;
  display: flex;
  text-align: center;
  cursor: pointer;
}
.projects__description {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s;
  z-index: 100;
  width: 100%;
  height: 100%;
  gap: 38.57px;
  transition: 0.3s linear;
  background-color: rgba(255, 67, 67, 0.8);
}
@media (max-width: 1440px) {
  .projects__description {
    gap: 24px;
  }
}
@media (max-width: 767px) {
  .projects__description {
    gap: 5px;
  }
}
.projects__description:hover {
  opacity: 1;
  box-shadow: 0 0.5em 0.5em -0.4em;
}
.projects__description:active {
  background-color: rgba(185, 12, 12, 0.8);
}
.projects__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.projects__title {
  font-family: "Raleway";
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  color: #FFF;
  font-size: 24px;
}
@media (max-width: 1024px) {
  .projects__title {
    font-size: 18px;
  }
}
.projects__subtitle {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #6C7279;
  color: #FFF;
  text-transform: capitalize;
}
@media (max-width: 1024px) {
  .projects__subtitle {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .projects__subtitle {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .projects__subtitle {
    font-size: 14px;
  }
}

.employees {
  margin-bottom: 114px;
}
@media (max-width: 1024px) {
  .employees {
    margin-bottom: 78px;
  }
}
@media (max-width: 767px) {
  .employees {
    margin-bottom: 53px;
  }
}
.employees__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
}
@media (max-width: 1024px) {
  .employees__container {
    grid-column-gap: 25px;
  }
}
@media (max-width: 767px) {
  .employees__container {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 50px;
  }
}
.employees__card {
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (max-width: 767px) {
  .employees__card {
    justify-self: center;
  }
}
.employees__photo-wrap {
  aspect-ratio: 1;
  margin-bottom: 30px;
  display: flex;
}
@media (max-width: 1024px) {
  .employees__photo-wrap {
    margin-bottom: 25px;
  }
}
@media (max-width: 767px) {
  .employees__photo-wrap {
    aspect-ratio: 1/0.81;
  }
}
.employees__photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.employees__name {
  font-family: "Raleway";
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  text-transform: capitalize;
  margin-bottom: 9.7px;
  font-size: 24px;
  font-weight: 700;
}
@media (max-width: 1024px) {
  .employees__name {
    font-size: 18px;
    margin-bottom: 9px;
  }
}
.employees__position {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #6C7279;
  margin-bottom: 17px;
  color: #FF4343;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .employees__position {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .employees__position {
    font-size: 14px;
    margin-bottom: 22px;
  }
}
.employees__description {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #6C7279;
  margin-bottom: 17px;
  flex-grow: 1;
}
@media (max-width: 1024px) {
  .employees__description {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .employees__description {
    font-size: 14px;
    margin-bottom: 39px;
  }
}
@media (max-width: 767px) {
  .employees__description {
    margin-bottom: 55px;
  }
}
.employees__icons {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.employees__icon {
  fill: #C6CBCD;
  transition: 0.5s linear;
}
.employees__icon-wrap {
  width: 39px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #C6CBCD;
  transition: 0.5s linear;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .employees__icon-wrap {
    width: 33px;
    height: 33px;
  }
}
.employees__icon-wrap:hover {
  border: 1px solid rgba(255, 67, 67, 0.8);
  transform: scale(1.3);
}
.employees__icon-wrap:hover path {
  fill: rgba(255, 67, 67, 0.8);
}
.employees__icon-wrap:active {
  border: 1px solid rgba(185, 12, 12, 0.8);
}
.employees__icon-wrap:active path {
  fill: rgba(185, 12, 12, 0.8);
}

.swiper {
  margin-bottom: 114px;
}
.swiper .swiper-slide {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 31px;
}
@media (max-width: 767px) {
  .swiper .swiper-slide {
    grid-template-columns: repeat(1, 1fr);
  }
}
.swiper__img-wrap {
  aspect-ratio: 1/0.66;
  display: flex;
  position: relative;
}
.swiper__img {
  width: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0%;
  left: 0%;
}
.swiper__content {
  text-align: left;
  padding: 116px 170px 116px 129px;
  background-color: rgb(92, 50, 73);
}
@media (max-width: 1150px) {
  .swiper__content {
    padding: 30px 75px 25px 50px;
  }
}
@media (max-width: 1024px) {
  .swiper__content {
    padding: 47px 104px 25px 88px;
  }
}
@media (max-width: 767px) {
  .swiper__content {
    padding: 30px 25px 35px 20px;
  }
}
.swiper__text {
  font-family: Cardo;
  font-size: 36px;
  font-style: italic;
  font-weight: 400;
  line-height: 49px;
  letter-spacing: 0em;
  color: #FFF;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .swiper__text {
    font-family: Cardo;
    font-size: 24px;
    line-height: 32px;
  }
}
@media (max-width: 767) {
  .swiper__text {
    margin-bottom: 32px;
  }
}
.swiper__subtext {
  font-family: Raleway;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  text-align: left;
  color: #FFF;
}
@media (max-width: 1024px) {
  .swiper__subtext {
    font-family: Raleway;
    font-size: 12px;
    line-height: 14px;
  }
}
.swiper .swiper-pagination {
  position: relative;
  bottom: 100%;
  transition: 0.3s opacity;
  display: flex;
  justify-content: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
@media (max-width: 1440px) {
  .swiper .swiper-pagination {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.swiper .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  display: inline-block;
  border-radius: 14px;
  border: 1px solid #7E5D6F;
  background-color: transparent;
  opacity: 1;
}
@media (max-width: 1440px) {
  .swiper .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}
.swiper .swiper-pagination-bullet-active {
  background-color: #7E5D6F;
}

.ready {
  text-align: center;
  margin-bottom: 114px;
}
@media (max-width: 1040px) {
  .ready {
    margin-bottom: 78px;
  }
}
@media (max-width: 767px) {
  .ready {
    margin-bottom: 45px;
  }
}
.ready__title {
  font-family: "Raleway";
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 17px;
  font-weight: 500;
  font-size: 30px;
}
@media (max-width: 1040px) {
  .ready__title {
    font-size: 24px;
    margin-bottom: 16px;
  }
}
@media (max-width: 1040px) {
  .ready__title {
    font-size: 18px;
    margin-bottom: 19px;
  }
}
.ready__subtitle {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #6C7279;
  font-weight: 700;
  margin-bottom: 48px;
  color: #000000;
}
@media (max-width: 1024px) {
  .ready__subtitle {
    font-size: 14px;
  }
}
@media (max-width: 1040px) {
  .ready__subtitle {
    font-size: 14px;
    line-height: 16.44px;
    margin-bottom: 43px;
  }
}
@media (max-width: 1040px) {
  .ready__subtitle {
    font-size: 13px;
    line-height: 15.26px;
    margin-bottom: 11px;
  }
}
.ready__btn {
  padding: 24px 0;
  max-width: 370px;
  width: 100%;
  background: #FF4343;
  border: none;
  font-family: "Raleway";
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  border: none;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s linear;
}
@media (max-width: 1024px) {
  .ready__btn {
    padding: 28px 0;
    max-width: 314px;
  }
}
@media (max-width: 767px) {
  .ready__btn {
    max-width: 280px;
    padding: 18px 0;
    background: #FF4343;
    font-size: 24px;
    color: #FFFFFF;
  }
}
@media (max-width: 767px) {
  .ready__btn {
    max-width: 280px;
    padding: 18px 0;
    background: #FF4343;
    font-size: 24px;
    color: #FFFFFF;
  }
}
.ready__btn:hover {
  background: #E71414;
  box-shadow: 4px 4px 30px rgba(255, 67, 67, 0.5);
}
.ready__btn:active {
  background: #FF4343;
  box-shadow: 4px 4px 30px #FF4343;
}
@media (max-width: 767px) {
  .ready__btn {
    max-width: 280px;
    padding: 18px 0;
    background: #FF4343;
    font-size: 18px;
    color: #ffffff;
  }
}

.footer {
  background-color: rgb(53, 60, 101);
}
.footer__content {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  padding: 46.59px 0px 41.19px 0px;
}
@media (max-width: 767px) {
  .footer__content {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 767px) {
  .footer__location {
    margin-bottom: 69.24px;
  }
}
@media (max-width: 767px) {
  .footer__location .title-location {
    margin-bottom: 34px;
  }
}
.footer__copyright {
  text-align: center;
  background-color: rgb(44, 49, 84);
  padding: 14.28px 0 14.23px 0;
  text-transform: capitalize;
}
.footer__title {
  font-family: "Raleway";
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 17.72px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 14px;
}
.footer__subtitle {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #6C7279;
  text-transform: capitalize;
  color: #ffffff;
}
@media (max-width: 1024px) {
  .footer__subtitle {
    font-size: 14px;
  }
}
.footer__subtitle-copy {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #6C7279;
  display: inline-block;
}
@media (max-width: 1024px) {
  .footer__subtitle-copy {
    font-size: 14px;
  }
}
.footer__subtitle-rights {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #6C7279;
}
@media (max-width: 1024px) {
  .footer__subtitle-rights {
    font-size: 14px;
  }
}
.footer__subtitle-name {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #6C7279;
  color: #ffffff;
}
@media (max-width: 1024px) {
  .footer__subtitle-name {
    font-size: 14px;
  }
}
.footer__icons {
  display: flex;
  -moz-column-gap: 27px;
       column-gap: 27px;
  justify-content: center;
  margin-top: 48.86px;
}
@media (max-width: 1024px) {
  .footer__icons {
    -moz-column-gap: 23px;
         column-gap: 23px;
  }
}
@media (max-width: 767px) {
  .footer__icons {
    -moz-column-gap: 16px;
         column-gap: 16px;
    margin-bottom: 59.05px;
  }
}
.footer__icon {
  fill: #C6CBCD;
  transition: 0.5s linear;
}
.footer__icon-wrap {
  width: 39px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #C6CBCD;
  transition: 0.5s linear;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .footer__icon-wrap {
    width: 33px;
    height: 33px;
  }
}
.footer__icon-wrap:hover {
  border: 1px solid rgba(255, 67, 67, 0.8);
  transform: scale(1.3);
}
.footer__icon-wrap:hover path {
  fill: rgba(255, 67, 67, 0.8);
}
.footer__icon-wrap:active {
  border: 1px solid rgba(185, 12, 12, 0.8);
}
.footer__icon-wrap:active path {
  fill: rgba(185, 12, 12, 0.8);
}
@media (max-width: 767px) {
  .footer .title-social {
    margin-botoom: 37px;
  }
}
@media (max-width: 767px) {
  .footer .title-about {
    margin-botoom: 38px;
  }
}/*# sourceMappingURL=style.css.map */